.movie-footer-container {
  // align-items: center;
  background: radial-gradient(white, rgb(22, 22, 22));  // height: 80px;
  border: black;
  border-width: 1px;
  border-style: solid;
  // border-radius: 5px;
  justify-content: center;
  height: 250px;
  padding-top: 25px;
}

.movieListingsHeader {
  margin: 0%;
  padding-bottom: 20px;
  padding-left: 10px;
  font-family: Lobster-Regular;
  font-size: 40px;
}

.movieListings {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  height: 180px;
  padding: 10px;
  p {
    border-style: solid;
    border-width: 2px;
    height: 30px;
    width: 160px;
    background: lightyellow;
    text-align: center;
    padding-top: 10px;
  }
}

