.footer-container {
  background: blue;
  height: 80px;
  width: auto;
  border: black;
  border-width: 6px;
  border-style: solid;
  border-radius: 5px;
}

.footer-title {
  padding-top: 20px;
}

p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
