<div class="movie-footer-container">
    <h3 class="movieListingsHeader">Display a List of Movies to Watch</h3>
      <div class="movieListings">
        <button class="nav-link" href="home">Deadpool</button>
        <button>Step-Brothers</button>
        <button>Bad Santa</button>
        <button>Dunstin Checks In</button>
        <button>Over The Top</button>
        <button>Saving Private Ryan</button>
        <button>Grounghog Day</button>
        <button>The Other Guys</button>
        <button>Goodfellas</button>
        <button>Casino</button>
        <button>Dodgeball</button>
        <button>Elf</button>
      </div>
</div>
