<div class="movie-footer-container">
    <h3 class="movieListingsHeader">New Videos to Watch!</h3>
      <div class="movieListings">
        <button class="nav-link" routerLink="/redPandas">RED PANDAS</button>
        <button class="nav-link" routerLink="/polyphiaVideo">Polyphia</button>
        <button class="nav-link" routerLink="/stickFightingVideo">StickFight</button>
        <button class="nav-link" routerLink="/deadpoolBobRoss">Time With Deadpool</button>
        <button class="nav-link" routerLink="/fullHouseOfMustaches">Full House of Mustaches</button>
        <button class="nav-link" routerLink="/youCanDoAnything">You Can Do Anything</button>
        <button class="nav-link" routerLink="/mythbusters">Mythbusters</button>
        <button class="nav-link" routerLink="/betterStickFight">Better Stick Fight</button>
        <button class="nav-link" routerLink="/anotherStickFight">ANOTHER STICK FIGHT</button>
        <button>Dummy Button</button>
        <button>Dummy Button</button>
        <button>Dummy Button</button>
      </div>
</div>
