.movie-footer-container {
  display: flex;
  flex-direction: column;
  background: radial-gradient(white, rgb(22, 22, 22));  // height: 80px;
  border: black;
  border-width: 1px;
  border-style: solid;
  justify-content: center;
  height: 250px;
  padding-top: 25px;
}

.movieListingsHeader {
  margin: 0%;
  padding-bottom: 20px;
  padding-left: 10px;
  font-family: Lobster-Regular;
  font-size: 40px;
}

.movieListings {
  display: flex;
  flex-wrap: wrap;
  height: 180px;
  padding: 10px;
  button {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    height: 50px;
    width: 160px;
    background: lightyellow;
    text-align: center;
    font-family: PermanentMarker-Regular;
    font-size: 16px;
  }
}

.movieToggler {
  position: absolute;
  height: 40px;
  width: 80px;
  right: 20px;
}
