:host {
  background: rgb(56, 199, 120);
}

#sidebar {
  min-width: 200px;
  max-width: 200px;
  min-height: 100vh;
  color: pink;
  transition: all 0.3s;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  background:linear-gradient(cyan,magenta);
}

#sidebar.hidden {
  margin-left: -200px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  // margin-right: 30px;
  // align-items: center;
}

li {
  padding: 20px;
  color: black;
}

button {
  height: 20px;
}

button[data-toggle="collapse"] {
  position: relative;
}

@media (max-width: 575px) {
  #sidebar {
    margin-left: -200px;
  }
  #sidebar.hidden {
    margin-left: 0;
  }
}

button,
button:hover,
button:focus {
  color: inherit;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul li button {
  padding: 15px;
  display: block;
  width: 100%;
  &:hover {
    background: linear-gradient(pink,white,white,pink);
  }
}

hr {
  border-top: 1px solid #fff;
  margin-top: 0;
}
