<nav id="sidebar" class="navbar-dark bg-dark" [ngClass]="{'hidden': hideSideNav}">
  <button class="material-icons" id="toggle-button" (click)="toggleSideNav()" [ngClass]="{'hidden': hideToggleButton}">menu</button>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <button mat-raised-button class="nav-link" href="#">Home Page</button>
    </li>
    <li class="nav-item">
      <button mat-raised-button class="nav-link" href="#">Another Button</button>
    </li>
    <li class="nav-item" >
      <button mat-raised-button class="nav-link" href="#">Woah, a button.</button>
    </li>
    <li class="nav-item" >
      <button mat-raised-button class="nav-link" href="#">Another Test</button>
    </li>
    <li class="nav-item" >
      <button mat-raised-button class="nav-link" href="#">Is this working?</button>
    </li>
    <li class="nav-item" >
      <button mat-raised-button class="nav-link" href="#">I went through the wall..</button>
    </li>
  </ul>
</nav>
