:host {
  background: rgb(56, 199, 120);
}

#toggle-button {
  background: radial-gradient(cyan,magenta);
  height: 35px;
  width: 55px;
  position: absolute;
  left: 210px;
  top: 105px;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  transition: all 0.3s;
  outline: none;
}

.material-icons {
  position: absolute;
  left: 225px;
  top: 125px;
  color: white;
  transition: all 0.3s;
}

.material-icons.hidden {
  margin-left: -200px;
}

#toggle-button.hidden {
  margin-left: -200px;
}

#sidebar {
  min-width: 200px;
  max-width: 200px;
  min-height: 100vh;
  color: pink;
  transition: all 0.3s;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  background:linear-gradient(cyan,magenta);
  border-right: black 2px solid;
}

#sidebar.hidden {
  margin-left: -200px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

li {
  padding: 20px;
  color: black;
}

button[data-toggle="collapse"] {
  position: relative;
}

@media (max-width: 575px) {
  #sidebar {
    margin-left: -200px;
  }
  #sidebar.hidden {
    margin-left: 0;
  }
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul li button {
  padding: 10px;
  display: block;
  margin-left: -40px;
  font-family: PermanentMarker-Regular;
  background: linear-gradient(white,lightgray);
  &:hover {
    background: linear-gradient(to right,pink,white,white,pink);
  }
}

hr {
  border-top: 1px solid #fff;
  margin-top: 0;
}

.navbar-nav {
margin: 0;
}

.nav-link {
  width: 160px;
  font-size: 17px;
  // background: -webkit-linear-gradient(black,cyan);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;

}
