:host {
  background: rgb(56, 199, 120);
}

#sidebar {
  min-width: 200px;
  max-width: 200px;
  min-height: 100vh;
  color: pink;
  transition: all 0.3s;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  background: lightseagreen;
}

#sidebar.hidden {
  margin-left: -200px;
}

button {
  // height: 30px;
  // width: 30px;
}

button[data-toggle="collapse"] {
  position: relative;
}

@media (max-width: 575px) {
  #sidebar {
    margin-left: -200px;
  }
  #sidebar.hidden {
    margin-left: 0;
  }
}

button,
button:hover,
button:focus {
  color: inherit;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul li button {
  padding: 15px;
  display: block;
  width: 100%;
  &:hover {
    background-color: lightcoral;
  }
}

hr {
  border-top: 1px solid #fff;
  margin-top: 0;
}
