.navbar {
  height: 80px;
  background: linear-gradient(white, blue);
  text-align: center;
  border-width: 2px;
  border-style: solid;
}

.navbar-title {
  padding-top: 20px;
}

h1 {
  font-weight: bold;
  font-size: 30px;
}
