.navbar-main {
  height: 100px;
  background: linear-gradient(pink,white);
  // background-image: url(./assets/images/randomPictures/pushingButtons.jpg);
  text-align: center;
  border-width: 1px;
  border-style: solid;
}

#navbar-title {
  padding-top: 30px;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  padding-top: 10px;
}

button {
  background: linear-gradient(white,blue);
  display: inline;
}
