.navbar-main {
  height: 120px;
  background: linear-gradient(white, blue);
  text-align: center;
  border-width: 2px;
  border-style: solid;
}

.navar-separator {
  display: flex;
  flex-direction: row;
}

.navbar-title {
  padding-top: 10px;
}

.navbar-links {
  display: inline;
}

ul {
  list-style-type: none;
}

li {
  background: linear-gradient(green,lightblue);
  border: solid;
  border-radius: 4px;
  border-width: 3px;
  float: right;
  padding: 8px;
  margin: 4px;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  padding-top: 10px;
}
