.navbar {
  background: linear-gradient(white, cyan);
  padding: 0%;
}

h3 {
  font-size: 30px;
  margin: 0;
  padding: 0%;
}

button {
  height: 20px;
  width: auto;
}

ul {
  list-style-type: none;
}
