.navbar {
  // background: linear-gradient(white,black);
  background: linear-gradient(white, cyan); // Only Display on Click Buttons Component
  height: 130px;
  padding: 0%;
  // border-bottom: 2px;
  // border-style: solid;
}

#topNavToggler {
  position: absolute;
  right: 30px;
  height: 30px;
  width: 60px;
}

.navbar.onButtonsPage {
  background: linear-gradient(white, cyan);
}

h3 {
  font-family: PermanentMarker-Regular;
  font-size: 100px;
  text-shadow: rgb(0, 255, 21) 2px 0 10px;
  margin: 0;
  position: absolute;
  top: 40px;
  left: 30px;
}

button {
  width: auto;
  background: linear-gradient(white, lightpink);
  font-family: PermanentMarker-Regular;
  font-size: 30px;
}

button:hover {
  background: linear-gradient(pink,white,white,pink);
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  direction: rtl;
  padding-top: 20px;
}

li {
  padding-left: 10px;
  padding-top: 20px;
}
