<nav class="navbar" [ngClass]="{'onButtonsPage': buttonNavColors}">
  <h3 routerLink="/">Application Playground</h3>
  <div>
    <p *ngIf="buttonNavColors">Cyan Color Scheme</p>
  </div>
  <!-- <app-authorised-side-nav-toggler></app-authorised-side-nav-toggler> -->
  <div class="nav-buttons">
    <ul>
      <li>
        <button mat-raised-button class="nav-button" (click)="lofiMusic()">Play Some Music</button>
      </li>
      <li>
        <button mat-raised-button class="nav-button">Animation Trigger</button>
      </li>
    </ul>
    <!-- <button class="material-icons">menu</button> -->
  </div>
</nav>
