.navbar {
  background: linear-gradient(white, cyan);
  padding: 0%;
}

h3 {
  @font-face {
    font-family: GreatVibes-Regular;
    src: url(/assets/fonts/GreatVibes-Regular.ttf) format("opentype");
  }
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
}

// .nav-buttons {
//   display: flex;
//   flex-direction: row;
// }

button {
  width: auto;
  background: linear-gradient(white, lightgray);
}

button:hover {
  background: linear-gradient(pink,white,white,pink);
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  direction: rtl;
  padding: 10px;
}

li {
  padding-left: 10px;
}

// .nav-button {
// margin-bottom: 10px;
// margin-top: 5px;
// }
