.navbar {
  // background: linear-gradient(white, cyan);
  background: linear-gradient(white,black);
  height: 80px;
  padding: 0%;
}

h3 {
  font-family: Lobster-Regular;
  font-size: 60px;
  text-shadow: rgb(0, 255, 21) 2px 0 10px;
  margin: 0;
  position: absolute;
  top: 30px;
  left: 30px;
  // padding-top: 30px;
  // padding-left: 20px;
}

button {
  width: auto;
  background: linear-gradient(white, lightpink);
  font-family: PermanentMarker-Regular;
  font-size: 20px;
}

button:hover {
  background: linear-gradient(pink,white,white,pink);
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  direction: rtl;
  padding: 10px;
}

li {
  padding-left: 10px;
  padding-top: 20px;
}
