<app-movie-theater>
    <iframe tube id=youtube-video width="560" height="315" src="https://www.youtube.com/embed/PCtr04cnx5A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</app-movie-theater>




<!-- <iframe id=youtube-video width="560" height="315" src="https://www.youtube.com/embed/_PvuoEb4yeQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

