<div class="container">
  <div>
    <p>hello</p>
  </div>
  <div>
    <p>goodbye</p>
  </div>
  <div>
    <p>Another Message</p>
  </div>
  <div>
    <p>But can you read??</p>
  </div>
</div>







<!-- <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile id="firstTile">1</mat-grid-tile>
    <mat-grid-tile id="secondTile">2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>
    <mat-grid-tile>7</mat-grid-tile>
    <mat-grid-tile>8</mat-grid-tile>
  </mat-grid-list> -->
