.app-container-fluid {
  // padding: 0%;
  // margin: 0%;
  position: relative;
}

.router-container {
  height: auto;
  width: 100%;
}

.footer-container {
  // position: absolute;
  bottom: 0;
  // height: 0em;
  width: 100%;
}
