.movie-theater-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 130vh;
  background-image: url("/assets/images/movie-theater/movieScreenImage.jpg");
  background-size: 100%;
  padding-top: 20px;

  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Codystar-Regular';
    // text-shadow: 0px 22px 12px rgb(241, 241, 154);
    font-size: 75px;
    font-weight: bold;
    color: rgb(247, 247, 141);
    padding-top: 10px;
  }
}

.play-video {
  height: 50px;
  width: 100px;
  font-size: 20px;
}

#movie-screen-container {    //still needs to adjust screen size when toggling sidenav
  position: relative;
  top: -15%;
  height: 38%;
  min-width: 68%;
  max-width: 68%;
  border-style: solid;
  border-color: black;
  border-width: 8px;
  border-radius: 10px;
  margin-left: 15%;
  transition-duration: 0.3s;
}
