.landingPageContainer {
  display: flex;
  flex-wrap: wrap;
  background-image: url("/assets/images/randomPictures/welcomePinkAndBlue.jpg");
  background-size: 92%;
  height: 100vh;
  min-width: 86vw;
  max-width: 100vw;
}

h1 {
  font-family: Lobster-Regular;
  font-size: 40px;
  color: white;
  padding: 4%;
}
