#landingPageContainer {
  display: flex;
  flex-wrap: wrap;
  background-image: url("/assets/images/randomPictures/welcomePinkAndBlue.jpg");
  background-size: 100%;
  height: 100vh;
  min-width: 86vw;
}

h1 {
  font-family: Lobster-Regular;
  font-size: 40px;
  color: white;
  padding: 4%;
}


#clickHereText {
  color: rgb(250, 7, 141);
  font-family: PermanentMarker-Regular;
  font-size: 60px;
  padding-left: 4.5%;
  padding-top: 0.8%;
}
