.calculator-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 7.1%;
  // padding-left: 1%;
  height: 88vh;
  width: 86vw;
  // background: rgb(134, 121, 121);
  background-image: url("/assets/images/randomPictures/mathematicsBackground.jpg");
  background-size: 100%;
}

.calculator5000 {
  font-family: Dark_Future_Italic;
  height: 9%;
  padding-top: 4%;
  margin-top: -6%;
  margin-left: 4%;
  color: red;
  font-size: 160px;
  text-shadow: 16px 10px 10px yellow;
  // background: fade-in($color: black, $amount: 0);
  background: black;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 4%;
  padding-right: 1.2%;
  height: 75.3%;
  width: 42%;
  background: black;
  border-style: solid;
  border-width: 15px;
  border-color: red;
  border-radius: 8px;
  box-shadow: 0px 0px 40px 20px red;
}

.maindisplay {
  display: flex;
  justify-content: flex-end;
  height: 10%;
  width: 100%;
  background: radial-gradient(white,green);
  font-size: 40px;
  padding: 10px;
  color: black;
}

.subdisplay {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  width: 100%;
  background: radial-gradient(white, hotpink);
  font-size: 30px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  color: black;
}

.keypad {
  display: flex;
  flex-wrap: wrap;
}

.keys {
  margin: 0;
  width: 25%;
  height: 20%;
  background: rgb(235, 234, 234);
  color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 4%;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.numkey {
  background: rgb(189, 188, 188);
}
