.calculator-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 7%;
  // padding-left: 1%;
  height: 88vh;
  width: 86vw;
  // background: rgb(134, 121, 121);
  background-image: url("/assets/images/randomPictures/mathematicsBackground.jpg");
  background-size: 100%;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 71%;
  width: 42%;
  background: rgb(245, 185, 250);
  border-style: solid;
  border-width: 12px;
  border-color: rgb(255, 153, 0);
  border-radius: 8px;
}

.maindisplay {
  display: flex;
  justify-content: flex-end;
  height: 10%;
  // width: 100%;
  background: rgb(185, 250, 120);
  font-size: 40px;
  padding: 10px;
  color: grey;
}

.subdisplay {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  // width: 100%;
  background: #f1fc62;
  font-size: 30px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  color: grey;
}

.keypad {
  display: flex;
  flex-wrap: wrap;
}

.keys {
  margin: 0;
  width: 16.6%;
  height: 8%;
  background: rgb(235, 234, 234);
  color: black;
  border-style: solid;
  border-width: 1px;
  padding: 4%;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.numkey {
  background: rgb(189, 188, 188);
}
