<div class="calculator-page-container">
  <p class="calculator5000">Calculator 5000</p>
  <div class="calculator">
    <div class="maindisplay">Results{{ mainText }}</div>
    <div class="subdisplay">Input{{ subText }}</div>
    <mat-divider></mat-divider>
    <div class="keypad">
      <button class="keys ackey one-line">AC</button>
      <button class="keys opkey one-line">()</button>
      <button class="keys opkey one-line">%</button>
      <button class="keys opkey one-line">/</button>
      <button class="keys numkey one-line">7</button>
      <button class="keys numkey one-line">8</button>
      <button class="keys numkey one-line">9</button>
      <button class="keys opkey one-line">x</button>
      <button class="keys numkey one-line">4</button>
      <button class="keys numkey one-line">5</button>
      <button class="keys numkey one-line">6</button>
      <button class="keys opkey one-line">-</button>
      <button class="keys numkey one-line">1</button>
      <button class="keys numkey one-line">2</button>
      <button class="keys numkey one-line">3</button>
      <button class="keys opkey one-line">+</button>
      <button class="keys blankkey"></button>
      <button class="keys numkey zerokey one-line">0</button>
      <button class="keys one-line">.</button>
      <button class="keys equalkey">=</button>
    </div>
  </div>
</div>
