<div class="calculator-page-container">
  <div class="calculator">
    <div class="maindisplay">Results{{ mainText }}</div>
    <div class="subdisplay">Input{{ subText }}</div>
    <mat-divider></mat-divider>
    <div class="keypad">
      <div class="keys ackey one-line">AC</div>
      <div class="keys opkey one-line">()</div>
      <div class="keys opkey one-line">%</div>
      <div class="keys opkey one-line">/</div>
      <div class="keys numkey one-line">7</div>
      <div class="keys numkey one-line">8</div>
      <div class="keys numkey one-line">9</div>
      <div class="keys opkey one-line">x</div>
      <div class="keys numkey one-line">4</div>
      <div class="keys numkey one-line">5</div>
      <div class="keys numkey one-line">6</div>
      <div class="keys opkey one-line">-</div>
      <div class="keys numkey one-line">1</div>
      <div class="keys numkey one-line">2</div>
      <div class="keys numkey one-line">3</div>
      <div class="keys opkey one-line">+</div>
      <div class="keys blankkey"></div>
      <div class="keys numkey zerokey one-line">0</div>
      <div class="keys one-line">.</div>
      <div class="keys equalkeys">=</div>
    </div>
  </div>
</div>
