.gameroom-container {
  height: 100vh;
  width: 86vw;
  background-image: url("/assets/images/randomPictures/stageLights.jpg");
  background-size: 100%;
}

#choose-game-text {
  font-family: PermanentMarker-Regular;
  font-size: 100px;
  color: white;
  position: absolute;
  top: 26%;
  left: 28%;
}

.gameChoices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5%;
  padding-top: 35%;
}

.gamePaths {
  height: 160px;
  width: 300px;
  background: radial-gradient(white, rgb(253, 228, 4));
  border-style: solid;
  border-width: 4px;
  border-color: black;
  border-radius: 180px;
  font-family: Lobster-Regular;
  font-size: 60px;
  font-weight: bold;
}
