<div class="main-container">
  <h1 class="ticTacToeTitle" style="color: black">Tic-Tac-Toe</h1>

  <div class="field">
    <p class="current-status" style="color: black; text-align: center">Click the Button to Start a New Game!</p>
  </div>

  <div *ngIf="this.game.gameStatus === 0" class="field d-flex justify-content-center">
    <button (click)="startGame()" mat-raised-button color="accent" class="start-game-button">Start A New Game!</button>
  </div>

  <div *ngIf="this.game.gameStatus === 1" class="gameboard">

    <div class="players player-one align-self-center">
      <p class="playerNames playerONE">Player 1</p>
    </div>

    <div class="gamefield container-fluid">
      <div class="row">
        <div (click)="clickSubfield($event)" position="0" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="1" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="2" class="subfield col-4"></div>
      </div>
      <div class="row">
        <div (click)="clickSubfield($event)" position="3" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="4" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="5" class="subfield col-4"></div>
      </div>
      <div class="row">
        <div (click)="clickSubfield($event)" position="6" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="7" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="8" class="subfield col-4"></div>
      </div>
    </div>

    <div class="players player-two align-self-center">
      <p class="playerNames playerTWO">Player 2</p>
    </div>

  </div>

</div>
