.main-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  // background: rgb(253, 253, 113);
  background: linear-gradient(white, yellow);
  height: 100vh;
  width: 86vw;
  .gameboard {
    // margin-top: 10px;
    // margin-left: 20%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3%;
    margin-top: 1%;

    .player-one {
      p {
        color: rgb(43, 238, 245)
      }
    }

    .player-two {
      p {
        color: rgb(0, 253, 135)
      }
    }
    .gamefield {
      display: flex;
      height: 92%;
      // background: rgb(248, 13, 248);

      .subfield {
        cursor: pointer;
        height: 170px;
        width: 170px;
        border: 1px solid black;
        border-radius: 20px;
        background: radial-gradient(white, rgb(248, 13, 248));
        &.player-one {
            background: rgb(43, 238, 245)
        }


        &.player-two {
            background: rgb(0, 253, 135)
        }
      }
    }
  }
  .start-game-button {
    left: 41%;
    font-size: 30px;
  }
  .playerNames {
    height: 20%;
    width: 100%;
    font-family: PermanentMarker-Regular;
    font-size: 100px;
    padding-top: 40%;
  }


  .current-status {
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    padding-bottom: 1%;
  }


  .row {
    height: 30%;
  }

  .players {
    font-family: Lobster-Regular;
    font-size: 60px;
  }

  .ticTacToeTitle {
    display: flex;
    justify-content: center;
    font-family: Lobster-Regular;
    font-size: 150px;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-top: 4%;
    margin-bottom: 4%;
  }
}
