.button-page-container {
  background: linear-gradient(to right,white,rgb(97, 189, 250));
  // background: linear-gradient(217deg, rgba(88, 151, 235, 0.8), rgba(80, 252, 74, 0.938) 70.71%),
  //             linear-gradient(18deg, rgba(70, 205, 247, 0.918), rgba(0, 225, 255, 0.952) 70.71%);
  height: 100vh;
  width: 100%;
  display: flex;
  // border-top: 2px;
  // border-style: solid;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  padding: 20px;
}

p {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding-top: 4px;
}

button {
  margin-top: 12px;
  justify-self: center;
}

button:hover {
  background: linear-gradient(lightblue,white,white,lightblue);
}

#color-container {
  background: lightgreen;
  height: 200px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 10px;
}

#vanishing-container {
  background: rgb(135, 115, 250);
  height: 150px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 10px;
}

.magicTrick {
  opacity: 0%;
  transition: ease-in 2s;
  transition: ease-out 2s;
}

.vanish-button {
  margin-left: 45px;
  margin-top: 30px;
}

#owen-wilson-container {
  background: rgb(236, 157, 157);
  height: 200px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 10px;
}

.owen-wilson {
  max-width: 140px;
  max-height: 100px;
  min-width: 140px;
  min-height: 100px;
  // border-style: solid;
  // border-width: 4px;
  margin-left: 24px;
  margin-top: 5px;
}

.wow {
  margin-left: 65px;
}

#size-button-container {
  background: rgb(226, 241, 142);
  height: 100px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 10px;
}

.enlarge-button {
  margin-left: 36px;
}

#video-container {
  background: rgb(102, 218, 233);
  height: 100px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 10px;
}



#flood-container {
  background: rgb(233, 114, 78);
  height: 100px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 10px;
}

// .theFlood {
//   height: 600px;
//   width: 1263px;
//   position: absolute;
//   left: 0px;
//   bottom: -760px;
// }

#random-container {
  background: rgb(236, 136, 198);
  height: 100px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 10px;
  // margin-top: -180px;
}

.switchColor {
  color: red;
}

.easeIn {
  transition: ease-in 2s;
}

