.container {
  background: linear-gradient(to right,white,rgb(53, 218, 240));
  // background-image: url('assets/images/randomPictures/pushingButtons.jpg');
  height: 100vh;
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

p {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding-top: 4px;
}

button {
  margin-top: 12px;
}

button:hover {
  background: linear-gradient(lightblue,white,white,lightblue);
}

.color-container {
  background: grey;
  height: 150px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

// .color-title {
//   margin-left: 20px;
// }

.owen-wilson-container {
  background: orange;
  height: 100px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

.size-button-container {
  background: rgb(142, 142, 241);
  height: 100px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

.audio-container {
  background: rgb(102, 233, 113);
  height: 100px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

.random-button-container {
  background: red;
  height: 100px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

.switchColor {
  color: red;
}
