.home-container {
  background: linear-gradient(to right,white,rgb(49, 63, 250));
  // background: linear-gradient(217deg, rgba(88, 151, 235, 0.8), rgba(80, 252, 74, 0.938) 70.71%),
  //             linear-gradient(18deg, rgba(70, 205, 247, 0.918), rgba(0, 225, 255, 0.952) 70.71%);
  height: 100vh;
  width: 100%;
  display: flex;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  padding: 20px;
  // width: 100vw;
}

p {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding-top: 4px;
}

button {
  margin-top: 12px;
  justify-self: center;
}

button:hover {
  background: linear-gradient(lightblue,white,white,lightblue);
}

#color-container {
  background: lightgreen;
  height: 150px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 10px;
}

// .color-title {
//   margin-left: 20px;
// }

#owen-wilson-container {
  background: rgb(236, 157, 157);
  height: 100px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 10px;
}

#size-button-container {
  background: rgb(226, 241, 142);
  height: 100px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 10px;
}

#audio-container {
  background: rgb(102, 218, 233);
  height: 100px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 10px;
}

#random-container {
  background: rgb(236, 136, 198);
  height: 100px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 10px;
  // margin-top: -180px;
}

.switchColor {
  color: red;
}

