<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <br>
      <ul>
        <li>
        <div class="color-container">
          <div class="color-title">
            <p>Color Changer</p>
            <mat-divider></mat-divider>
            <button mat-raised-button>Text Color</button>
            <button mat-raised-button>Background Color</button>
          </div>
        </div>
        </li>
        <br>
        <li>
        <div class="owen-wilson-container">
          <div class="owen-wilson-title">
            <p>Owen Wilson Button</p>
            <mat-divider></mat-divider>
            <button mat-raised-button>Wow!</button>
          </div>
        </div>
        </li>
        <br>
        <li>
        <div class="size-button-container">
          <div class="size-title">
            <p>Size Button</p>
            <mat-divider></mat-divider>
            <button mat-raised-button>ReSize Me</button>
          </div>
        </div>
        </li>
        <br>
        <li>
        <div class="audio-container">
          <div class="size-title">
            <p>Audio Button</p>
            <mat-divider></mat-divider>
            <button mat-raised-button>LISTEN UP</button>
          </div>
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>
