<div class="home-container">
  <app-authorised-side-nav></app-authorised-side-nav>
<div class="button-container">
  <div id="color-container" [ngStyle]="{ 'background-color': randomColor }">
    <p id="color-title">Color Changer</p>
    <mat-divider></mat-divider>
    <button mat-raised-button (click)="switchColor()" [ngStyle]="{ color: textColor }">
      Text Color
    </button>
    <button mat-raised-button (click)="switchBackground()">
      Background Color
    </button>
  </div>
  <br />
  <div id="owen-wilson-container">
    <p>Owen Wilson Button</p>
    <mat-divider></mat-divider>
    <button class="wow" mat-raised-button (click)="changePicture();owenWilsonAudio()">
      Wow!
    </button>
    <img class="owen-wilson" src="{{randomPic}}"/>
    <!-- <img style="display:none;" id="defaultPic" src="./assets/images/wow.jpg";/> -->
  </div>
  <br />
  <div id="size-button-container" [style.height.px]='size'>
    <p>Size Button</p>
    <mat-divider></mat-divider>
    <button mat-raised-button (click)="enlarge()">
      ReSize Me
    </button>
  </div>
  <br />
  <div id="audio-container">
    <p>Audio Button</p>
    <mat-divider></mat-divider>
    <button mat-raised-button (click)="audioPlay()">
      LISTEN UP
    </button>
  </div>
  <br/>
    <div id="vanishing-container" [ngClass]= "{ 'magicTrick' : !isVisible, 'easeIn': isVisible }">
    <p>Disappear</p>
    <mat-divider></mat-divider>
      <!-- <div class="vanish-button"> -->
        <button class="vanish-button" mat-raised-button (click)="vanishButton()">
        Magic Button
      </button>
    <!-- </div> -->
  </div>
  <div id="random-container">
    <p>Fill BG with Water</p>
    <mat-divider></mat-divider>
    <button mat-raised-button (click)="audioPlay()">
      Sink the TITANIC
    </button>
  </div>
  <div id="random-container">
    <p>Joke Generator</p>
    <mat-divider></mat-divider>
    <button mat-raised-button (click)="audioPlay()">
      Make Me Laugh
    </button>
  </div>
  <div id="random-container">
    <p>Random Button</p>
    <mat-divider></mat-divider>
    <button mat-raised-button (click)="audioPlay()">
      Randomize
    </button>
  </div>
  <div id="random-container">
    <p>GIF me a Break</p>
    <mat-divider></mat-divider>
    <button mat-raised-button (click)="audioPlay()">
      Break me off a GIF
    </button>
  </div>
  <div id="random-container">
    <p>Infect Other Buttons</p>
    <mat-divider></mat-divider>
    <button mat-raised-button (click)="audioPlay()">
      Randomize
    </button>
  </div>
  <div id="random-container">
    <p>Set Buttons On Fire</p>
    <mat-divider></mat-divider>
    <button mat-raised-button (click)="audioPlay()">
      Set Fire
    </button>
  </div>
  <div id="random-container">
    <p>Play BlackJack</p>
    <mat-divider></mat-divider>
    <button mat-raised-button (click)="audioPlay()">
      Hit
    </button>
    <button mat-raised-button>
      Stay
    </button>
  </div>
  </div>
</div>
