.home-container {
  // background: linear-gradient(to right,white,rgb(49, 63, 250));
  background: linear-gradient(217deg, rgba(88, 151, 235, 0.8), rgba(231, 74, 252, 0.938) 70.71%),
            linear-gradient(18deg, rgba(70, 205, 247, 0.918), rgba(0,0,255,0) 70.71%);
  // background-image: url('assets/images/randomPictures/pushingButtons.jpg');
  height: 100vh;
  width: 100%;
  display: flex;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  padding: 20px;
}

p {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding-top: 4px;
}

button {
  margin-top: 12px;
  justify-self: center;
}

button:hover {
  background: linear-gradient(lightblue,white,white,lightblue);
}

.color-container {
  background: grey;
  height: 150px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;

}

// .color-title {
//   margin-left: 20px;
// }

.owen-wilson-container {
  background: orange;
  height: 100px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

.size-button-container {
  background: rgb(142, 142, 241);
  height: 100px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

.audio-container {
  background: rgb(102, 233, 113);
  height: 100px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

.random-button-container {
  background: red;
  height: 100px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

.switchColor {
  color: red;
}
