.container-fluid {
  background: #d3d3d3;
}


.color-button-container {
  background: grey;
  height: 100px;
  width: 200px;
}

.owen-wilson-container {
  background: orange;
  height: 100px;
  width: 200px;
}

.size-button-container {
  background: rgb(142, 142, 241);
  height: 100px;
  width: 200px;
}

