.button-page-container {
  background-image: url("/assets/images/randomPictures/matteTextureBackground.jpg");
  background-size: 100%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.letsClickButtons {
  padding: 5%;
  font-family: Gameshow_Italic;
  color: black;
  text-shadow: -60px 80px 8px rgb(224, 13, 252);
  font-size: 140px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  height: 60%;
  margin-left: 2%;
  padding: 2%;
  padding-top: 8%;
}

p {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  padding-top: 4px;
}

button {
  font-size: 20px;
  margin-top: 12px;
  height: 40px;
}

button:hover {
  background: linear-gradient(lightblue,white,white,lightblue);
}

#color-container {
  display: flex;
  flex-direction: column;
  background: lightgreen;
  height: 35%;
  width: 15%;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 10px;
}

#vanishing-container {
  display: flex;
  flex-direction: column;
  background: rgb(135, 115, 250);
  height: 35%;
  width: 15%;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 10px;
}

.magicTrick {
  opacity: 0%;
  transition: ease-in 2s;
  transition: ease-out 2s;
}


#owen-wilson-container {
  display: flex;
  flex-direction: column;
  background: rgb(236, 157, 157);
  height: 35%;
  width: 15%;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 10px;
}

.owen-wilson {
  max-width: 140px;
  max-height: 100px;
  min-width: 140px;
  min-height: 100px;
}

#size-button-container {
  display: flex;
  flex-direction: column;
  background: rgb(226, 241, 142);
  height: 35%;
  width: 15%;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 10px;
}


#video-container {
  display: flex;
  flex-direction: column;
  background: rgb(102, 218, 233);
  height: 35%;
  width: 15%;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 10px;
}



#flood-container {
  display: flex;
  flex-direction: column;
  background: rgb(233, 114, 78);
  height: 35%;
  width: 15%;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 10px;
}

// .theFlood {
//   height: 600px;
//   width: 1263px;
//   position: absolute;
//   left: 0px;
//   bottom: -760px;
// }

#joke-generator-container {
  display: flex;
  flex-direction: column;
  background: rgb(236, 200, 99);
  height: 35%;
  width: 15%;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 10px;
}

.jokeBox {
  font-size: 20px;
  font-weight: normal;
  color: white;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;

}

#random-container {
  display: flex;
  flex-direction: column;
  background: rgb(236, 136, 198);
  height: 35%;
  width: 15%;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-right: 10px;
  opacity: 40%;
  // margin-top: -180px;
}

.switchColor {
  color: red;
}

.easeIn {
  transition: ease-in 2s;
}

.mat-raised-button {
  background: linear-gradient(white, lightgrey);
}

